// app global css
.grad1 {
  background: -webkit-radial-gradient(#dcdcff, #00B0FF); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#dcdcff, #00B0FF); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(#dcdcff, #00B0FF); /* Firefox 3.6 - 15 */
  background: radial-gradient(#dcdcff, #00B0FF); /* 标准的语法（必须放在最后） */
  color: white;
}

.AbsFull{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0

}
